@import "../../commons/_styles.css";

.divider {
    color: var(--main-color);
    width: 100%;
}

.city-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5rem;
}

.city-name, .icon-ciy{
    font-size: var(--font-size-medium);
    color: var(--dark-color);
    font-weight: bold;
}

.icon-ciy{
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    margin-left: 0.2rem;  
}

.select__option {
white-space: pre-wrap !important;
}

.city-selector{
    width: 100%;
}

.select__control{
    height: 40px;
}

.city-name:hover{
    cursor: pointer;
}

.icon-ciy-placeholder{
    margin-left: 0.8rem;
}

.country {
    color: gray;
    font-size: var(--font-size-medium)
}

.city{
    font-size: var(--font-size-medium)
}

.select__value-container{
    font-weight: bold;
}
