.super-container-r{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.successful-booking-container-r{
    width: 40%;
    margin-left: 10rem;    
}
.not-found-message_{
    color:var(--dark-blue-color)
}

.message-container-r{
    width: 70%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #e1e0de;
    height: 18rem;
}

.btn-successful-r{
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    width: 38%;
    height: auto;
    box-shadow: 3px 3px 3px #e1e0de;
    margin-top: 1rem;
    padding: 8px;
}

.btn-successful-r:hover{
    cursor: pointer;
}

.message-title{
    margin: 1rem;
    font-weight: bolder;
    font-size: xx-large;
    color: var(--main-color)
}

.second-message-title-r{
    margin: 1rem;
    color: black;
}

.check-icon{
    width: 10%;
    margin-top: 1rem;
}
@media (max-width: 1000px) { 
    .successful-booking-container-r{
        margin-left: 15rem;
        margin-top: 4rem;
        width: 100%;
    }
}
@media (max-width: 700px) { 
    .super-container-r{
        margin: 0;
        margin-top:5rem;
    }

    .successful-booking-container-r{
        margin-left: 9rem;
    }
}

@media (max-width: 500px) { 
    .super-container-r{
        margin: 0;
    }

    .successful-booking-container-r{
        margin-left: 3rem;
        margin-top: 8rem;
        width: 100%;
    }

    .check-icon{
        width: 15%;
    }
    .second-message-title-r{
        margin: 1rem;
    }
    .message-container-r{
       width: 90%;
    }

}