.booking-form-container {
    width: 70%;
    align-self: flex-start;

}

.form-main-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 90%;
    align-self:flex-start;
    height: 200px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-sub-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 45%;
    margin-top: 20PX;
}

.label-booking-form{
    margin-bottom: 0.1rem;
    font-weight: 700;
}

.input-booking-form{
    width: 100%;
    height: 40px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    font-weight: 700;
}


@media (max-width: 800px) { 
    .form-main-container {
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-evenly;
        border-radius: 5px;
        width: 100%;
        align-self: center;
        height: 200px;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .booking-form-container {
        width: 90%;
        align-self: center;
    
    }
}

@media (max-width: 1500px) { 

    #correo-booking-form{
        width: 200%;
    }

}