.container_article {
    margin: 12px;
    border: 1px solid #F3F1ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-radius: 5px;
    max-width: 400px;
}
.container_article:hover{
    cursor: pointer;
}

.category_image {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0% 0%;
}
.card_text {
    padding-left: 14px;
    line-height: 1.5rem;
}
.amount {
    padding-bottom: 7px;
    font-size: 14px;
    color: var(--dark-blue-color);
    opacity: 0.6;
}
.title_description {
    padding-top: 8px;
    font-size: 20px;
    color: var(--dark-blue-color)
}
@media (min-width: 700px) {
    .container_article {
        min-width: 290px;
        max-width: 347px;
    }
}
@media (min-width:1080px) {
    .container_article {
        max-width: 310px;
        transform: translateY(-0.5em);
        transition: transform 0.1s ease;
        margin-bottom: 30px;
    }
    .container_article:hover {
        transform: translateY(-0.33em);
       }
}



    
   
    