.container_form_login{
    background-color: black ;
    height: 100%;
}

.main_title_login{
   font-size: var(--font-size-bigger);
}

.container-login{
    padding-top: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
}

.title-login{
    color: var(--main-color);
    font-size: xx-large;
    font-weight: 900;
    margin-bottom: 2rem;
}

.label-login{
    margin-bottom: 0.1rem;
    font-weight: 700;
}

.input-login{
    width: 100%;
    height: 40px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    font-weight: 700;
}

.btn-login{
    background-color: var(--main-color);
    border: none;
    color: white;
    margin-top: 1.5rem;
    margin-bottom: 11px;
    line-height: 19px;
    border-radius: 6px;
    height: 40px;
    font-weight: 700;
    font-size: var(--font-size-medium);
    border-radius:5px;
    width: 13rem;
}

.btn-login:hover{
    cursor: pointer;
}

.alternative-login{
    margin-top: 0.5rem;
}

.span-login{
    padding: 0.5rem;
    font-weight: 700;
}

a {
    font-weight: 700;
    color: #2888d6
}

a:hover{
    color: #5faceb
}

.error-input{
    color: red;
    margin-bottom: 0.5rem;
}

@media (max-width: 700px) { 
    .alternative-login{
        margin-top: 0.5rem;
        margin-bottom: 7rem;
    }
    .row{
        width: 65%;
    }  

}