.container_cards_recommendation{
    background-color: #F3F1ED ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
@media (min-width: 1330px) {
    .container_cards_recommendation{
        flex-direction:row;
        flex-wrap: wrap;

        
    }   


}