.container_cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.card_category{
    margin-bottom: 40px;
}
@media (min-width: 700px) {
    .container_cards{
        flex-direction:row;
        flex-wrap: wrap;        
    }   


}


