@import "../../commons/_styles.css";


.loading-spa {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.main-images-container {
    display: flex;
    width: 90%;
    height: 90%;
    flex-direction: row;
    justify-content: center;
}

.main-image-container {
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
}

.secondary-images-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.secondary-images-sub-container {
    width: 50%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;

}

.main-image {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 900px;
    max-width: 900px;
    align-self: center;
}

.secondary-images {
    display: flex;
    height: 48%;
    max-height: 500px;
    width: 98%;
    border-radius: 10px;
    align-self: center;
    justify-content: center;
}

.button-container {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
}

.gallery-button {
    background-color: #f3f1ed;
    color: var(--dark-blue-color);
    border: none;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 0.5rem
}

.gallery-button:hover{
    cursor: pointer;
    color: var(--main-color);
}

.carousel-container{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 900px;
    margin-top: -150px;
}

.carousel-button-container {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.carousel-button {
    background-color: var(--ligter-color);
    color: var(--dark-blue-color);
    border: none;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: bold;
}



@media (max-width: 768px) {
    .main-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 300px;
    }
}

@media (max-width: 375px) {
    .main-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 300px;
    }
    .gallery-button {
        background-color: white;
        color: var(--dark-blue-color);
        border: none;
        font-size: 0.8rem;
        text-decoration: underline;
        font-weight: bold;
    }
}


@media (max-width: 320px) {
    .main-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }

    .gallery-button {
        background-color: white;
        color: var(--dark-blue-color);
        border: none;
        font-size: 0.8rem;
        text-decoration: underline;
        font-weight: bold;
    }
}