.container_title_booking{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    background-color: var(--main-color) ;
    position: relative;
    bottom: -14px;
    margin-left:12px;
    margin-right: 9%;
    width: 360px;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
    padding: 8px 0px;
    font-size: 11px;
}
.btn_delete_booking{
    border: none;
    color:var(--dark-blue-color);
    background-color: var(--main-color);
    font-size: 32px;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 8px;
    height: 0px;
    position: relative;
    bottom: 13px;
    cursor: pointer;
}

.btn_delete_booking:hover{
    color: #f2f0f0
}

.title_booking_cars{
    padding-left: 10px;
}


@media (min-width: 714px) {
    .container_title_booking{
        width: 675px;
        font-size: 14px;
        bottom: -16px;
    }
}

@media (min-width: 1300px) {
    .container_title_booking{
        width: 650px;
    }
}