
@import "../../commons/_styles.css";

.form_search{
    position: fixed;
    width: 100%;
    background-color: #31363F;
    margin-top: 72px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.form_title{
    color:white;
    margin: 0.3rem 0.5rem;
    font-size: var(--font-size-main);
    text-align: center;
}
.container_form{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 80px;
    width: 100%;
}
.sub-container{
    display: flex;
    align-items: center;
    width: 25%;
    align-self: center;
    margin-left: 15px;
}

.calendar-container {
    width: 100%;
}

.btn_filter{
    background-color: var(--main-color);
    border: none;
    color:white;
    border-radius: 3px;
    height: 40px;
    width: 80%;
    font-weight: bold;
    font-size: var(--font-size-medium);
}

.btn_filter:hover{
    cursor: pointer;
}


@media (max-width: 761px) {
    
    .form_search{
        position:absolute;
        z-index: 0;
    }
}


@media (max-width: 460px) {
    .calendar-container {
        align-self: center;
    }
    .btn_filter{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 660px) {
    .container_form{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 170px;
        width: 80%;
    }

    .sub-container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        align-self: center;
        
    }
}
