.booking-action{
    background-color: #ffffff;
    height: 10rem;
    border-radius: 10px;
    width: 75%;
}

.btn-booking{
    background-color: var(--main-color);
    border: none;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 55%;
    font-weight: bold;
    font-size: var(--font-size-medium);
    margin-top: 5px;
}

.btn-booking:hover{
    cursor: pointer;
}

.booking-message{
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media (max-width: 1400px) {
    .booking-action{
        margin-top: 1rem;
        margin-bottom: 5rem;
        height: 9rem;
    }
}

@media (max-width:400px) {
    .booking-action{
        margin-top: 1rem;
        height: 9rem;
        margin-bottom: 5rem;
    }
}
