.loading-spa {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.booking-main-container-product{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.booking-block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    background-color:#31363F; 
    margin-top: 70px;
    color: white;
    height: 68px;
    width: 100%;
}

.booking-block-header-titles{
    color: var(--ligter-color);
    padding: 10px;
    padding-left: 35px;
}

.booking-block-d{
    font-size: var(--font-size-small);
}

.booking-icon-back{
    justify-content: flex-start;
    width: 60px;
    margin-right: 20px;
    height: 50px;
    border-radius: 5px 5px 0% 0%;
}


.go-product-button {
    border: none;
    background-color: transparent;
}

.booking-back-icon{
    height: 100%;
    color: white;
}

.booking-form-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 100%;
}

.booking-form-and-calendar-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

.booking-calendar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.booking-detail-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.input-booking-form{
    padding: 0.5rem;
}

@media(max-width: 800px){
    .booking-form-and-calendar-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 80%;
        margin-left: 0px;
        padding-left: 0px;
    }

    .booking-form-main-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-content: center;
        align-self: center;
        width: 100%;
    }

    .booking-detail-container {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 80%;
        align-self: center;
        margin-top: 20px;
    }
    .booking-calendar-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin-left: 30px;
    }
}