.main_container_product{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.block_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    background-color:#31363F; 
    margin-top: 70px;
    color: white;
    height: 68px;
    width: 100%;
}
.icon_back{
        justify-content: flex-start;
        width: 60px;
        margin-right: 20px;
        height: 50px;
        border-radius: 5px 5px 0% 0%;
}
.back{
    height: 100%;
    color: white;
}

.block_header_titles{
    color: var(--ligter-color);
    padding: 10px;
    padding-left: 35px;
}
.block_d{
    font-size: var(--font-size-small);
}

.block_header_location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 2, 0.5);
}
.container_header_location{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 0px;
}
.block_location{
    display: flex;
    flex-direction: row;
}
.block_icongps{
    height: 25px;
    padding-top: 5px;
}
.block_city{
    padding-left: 6px;
    padding-top: 5px;
}
.address_header{
    padding-left: 20px;
    padding-top: 5px;
}
.block_container_score{
    display: flex;
    flex-direction: row;
}

.list_star_header{
    display: flex;
    flex-direction: row;
    text-align: end;
}
.icon_star_header{
    height: 20px;
}
.container_number_header{
   height: 43px;
   background-color: var(--main-color);
   font-size: 35px;
   color: white;
   width: 40px;
   font-weight: bolder;
   text-align: center;
   border-radius: 10px;
   margin-right: 40px;
   margin-left: 10px;
   margin-top:5px;
}
.state_score_header{
    text-align: end;
    font-weight: bolder;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 2px;
}
.description_product{
    background-color: white;
}
.title_description_product{
    padding: 10px 30px;
}
.text_description{
    padding: 10px 30px;
}
.container_features{
    background-color: white;
}
.title_features{
    padding: 20px 30px 7px 30px;
}
.img_features{
    height: 35px;
}
.container_icon_features{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-around;
}

.icons_features{
    display: flex;
    flex-direction: row;
    padding-right: 0px;
    padding-top: 8px;
    padding-bottom: 15px;
    justify-content: space-between;
}

.hr{
  height: 3px;
  opacity: 0.3;
  background-color: var(--main-color);
  width: 100%;
  border: none;
}
.icons_features p{
    padding-top: 7px;
    padding-left: 12px;

}

.container_politics{
    background-color: white;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.title_politics{
    background-color: white;
    padding: 20px 30px 7px 30px;
}
.type_politic{
    margin: 10px;
    width: 90%;
}
.politic{
    margin: 15px 0px;
    font-weight: 300;
}

@media (min-width: 761px) {
    .container_politics{
        flex-direction:row;
        flex-wrap: wrap;
    }
    .type_politic{
        max-width: 360px;
        margin: 0;
    }

}
.loading-spa {
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.container_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
}

.container_booking{
    background-color: #f3f1ed;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    height: 32rem;
}

.title_booking{
    padding-bottom: 1.5rem;
}

.booking-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.booking-col{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}


@media(max-width: 800px){
    .container_gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 90%;
    }
}

@media(min-width: 769px){
    .container_gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 80%;
    }

}

@media(max-width: 375px){
    .container_gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 80%;
    }
}

@media (min-width: 761px) {
    .container_politics{
        flex-direction:row;
        flex-wrap: wrap;
    }
    .type_politic{
        max-width: 360px;
        margin: 0;
    }
}


@media (max-width: 1400px) {
    .container_booking{
        height: 37rem;
    }
    
    .booking-row{
        flex-direction: column;
        align-items: flex-start;
    }

    .booking-col{
        width: 100%;
    }
}

@media (max-width:400px) {
    .container_booking{
        height: 37rem;
    }

    .booking-row{
        flex-direction: column;
        align-items: flex-start;
    }

    .booking-col{
        width: 100%;
    }
}

