.container-register{
    margin-top: 7rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 28%;
    
}

.row-register-with-col{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    column-gap: 1rem;
    margin-bottom: 0;
}

.col-register{
    flex-grow: 1;
    flex-basis: calc(100% / 2);
}


.title-register{
    color: var(--main-color);
    font-size:26px;
    font-weight: 900;
    margin-bottom: 2rem;
}

.label-register{
    margin-bottom: 0.1rem;
    font-weight: 700;
}

.input-register {
    width: 100%;
    height: 40px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    font-weight: 700;
    padding-left: 0.5rem;
}

.error-input-register {
    width: 100%;
    color: red;
    margin-bottom: 1rem;
    padding: 0;
}

.btn-register{
    background-color: var(--main-color);
    border: none;
    color: white;
    margin-top: 1rem;
    margin-bottom: 11px;
    line-height: 19px;
    border-radius: 6px;
    height: 40px;
    font-weight: 700;
    font-size: var(--font-size-medium);
    border-radius:5px;
    width: 200px;
}

.btn-register:hover{
    cursor: pointer;
}

.alternative-register{
    margin-top: 0.5rem;
}

.span-register{
    padding: 0.5rem;
    font-weight: 700;
}

a {
    font-weight: 700;
    color: #2888d6
}

a:hover{
    color: #5faceb
}

.row-register{
    width: 100%;
}

.checkbox{
    font-size:large;
    text-align: center;
    font-weight: bold;
}

input[type="checkbox"]{
     /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 0.5rem;
  margin-right: 0.7rem;
}


.form-register{
    width: 100%;
}

@media (max-width: 700px) {
    .container-register{
        flex-direction:row;
        flex-wrap: wrap;
        margin-left: 8rem;
        width: 65%;
    }
    .alternative-register{
        margin-top: 0.5rem;
        margin-bottom: 7rem;
        text-align: center;
    }
    .title-register{
        text-align: center;
    }   

}
@media (max-width: 560px) {
    .container-register{
        margin-left: 20%;
    } 

}